@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

:root {
    --background: #FFD433;
    --primary: #3633FF;
    --textcolors: #FFFF33;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
}
header{
    background:#3633FF;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.logo{
    height: 55%;
    margin-left: 50px;

}
.navbar,
.servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.navbar{
    gap: 100px;
}
.servicios{
    gap: 40px;
}
.navbar a{
    color: #FFD433;
    font-size: 16px;
}
.carrocompras{
    height: 30px;
    border-radius: 10px;
    margin-right: 25px;
    cursor: pointer;  
}
main{
    background: radial-gradient(#004ff9, #fff94c);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#hero{
    margin-top: 50px;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding-top: 85px;
}
.hero-info h1{
    font-size: 34px;
    font-weight: 700;
    color: yellow;
}
.hero-info p{
    font-size: 23px;
    width: 44%;
    color: white;
}
.hero-info p > span{
    color: blue;
    font-weight: 600;
}
.hero-info a {
    color: white;
    background-color: #337ab7;
    width: 100px;
    padding: 6px 6px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center; 
}
.hero-card{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.hero-card-top{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-card-top h3{
    font-size: 16px;
    font-weight: 600;
    color: yellow;
}
.hero-card-bottom{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.hero-card-bottom p{
    font-size: 16px;
    font-weight: 600;
    color: #004589;
    white-space: nowrap;
}

.hero-card-bottom span{
    color: yellow;
    text-align: center;
}
.infoProducts{
    width: 41%;
    color: yellow;
}
.infoProducts p{
    font-size: 24px;
    font-weight: 600;
}
